body {
	background: radial-gradient(circle at center, #fff59b, #86e2ff);
	overflow: hidden;
}

.page {
	width: 100%;
}

.starone {
	flex: 1 0 auto;
	font-size: 185px;

	left: 3%;
	bottom: 10%;
	transform: rotate(-30);
	position: fixed;
	fill: white;
	fill-opacity: 90%;

}
.two {
	flex: 1 0 auto;
	font-size: 185px;
	left: 40%;
	bottom: 60%;
	transform: rotate(-30);
	position: fixed;
	fill: white;
	fill-opacity: 70%;

	
}
.starthree {
	flex: 1 0 auto;
	font-size: 185px;
	left: 80%;
	bottom: 20%;
	transform: rotate(-30);
	position: fixed;	
	fill: white;
	fill-opacity: 90%;
	
}


  

.start-button {
    position: absolute;
    bottom: 40px; 
    right: 40px;
    background: #00c2ff;
    width: 18.2%;
    height: 9.5%;
    line-height: 9.5%;
    border-radius: 20px;
    transition: transform 0.2s, box-shadow 0.2s; /* Adding box-shadow to transition */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Shadow effect */
	font-size: 16px;
}
.start-button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Shadow effect */
	transform: scale(1.2);
    font-size: 20px;
}
.start-button:active {
    transform: scale(0.85); /* Change the scale value to adjust the button's size when clicked */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjusted shadow when button is clicked */
	font-size: 16px;

}
.start-text {
	font-size: 40px;
	align-items: center;
}

.home-text {
	position: absolute;
	left: 10%;
	bottom: 20%;
	/* transform: rotate(-20deg); */
	font-size: 130px;
	font-family: 'Porter Sans Block', sans-serif;
	line-height: 1;
}
.mascot {
	position: fixed;
	left: 50%;
	bottom: 20%;
	transform: rotate(15deg); 
	size: 60%;
}