body {
	background: radial-gradient(circle at center, #fff59b, #86e2ff);
	overflow: hidden;
}

.page {
	width: 100%;
}

.starone {
	flex: 1 0 auto;
	font-size: 185px;
	opacity: .2;
	right: 375px;
	top: 320px;
	transform: rotate(-30);
	position: fixed;
	/* background: white;	 */
}
.two {
	flex: 1 0 auto;
	font-size: 185px;
	opacity: .2;
	right: 633px;
	top: 210px;
	transform: rotate(-30);
	position: fixed;	
}
.starthree {
	flex: 1 0 auto;
	font-size: 185px;
	opacity: .12;
	right: 225px;
	top: 120px;
	transform: rotate(-30);
	position: fixed;	
}


  

.start-button {
	position: absolute;
	bottom: 20px; /* Adjust this value to set the distance from the bottom */
	right: 20px;
	background: #00c2ff;
	width: 18.2%;
	height: 9.5%;
	line-height: 9.5%;
	box-shadow: 5px -10px rgba(246, 242, 3, 0.1);
}

.start-text {
	font-size: 40px;
	align-items: center;
}

.home-text {
	position: absolute;
	right: 10%;
	bottom: 17%;
	transform: rotate(-30deg);
	font-size: 90px;
	font-family: 'Porter Sans Block', sans-serif;
	line-height: 1;
}
