body {
	background: radial-gradient(circle at center, #fff59b, #86e2ff);
	overflow: hidden;
}

.start-button {
	position: absolute;
	bottom: 20px; /* Adjust this value to set the distance from the bottom */
	right: 20px;
	background: #00c2ff;
	width: 18.2%;
	height: 9.5%;
	line-height: 9.5%;
	box-shadow: 5px -10px rgba(246, 242, 3, 0.1);
}

.start-text {
	font-size: 40px;
	align-items: center;
}

.home-text {
	position: absolute;
	right: 10%;
	bottom: 17%;
	transform: rotate(-30deg);
	font-size: 90px;
	font-family: 'Porter Sans Block', sans-serif;
	line-height: 1;
}
