.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

#id { 
    width: 800px;
    height: 100%;
}

.tourItems {
    flex: 1;
    padding: 40px 40px 0px 40px;
    height: 70px;
    padding: 40px;
    background-color: #f2f2f2;
}

.itinRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.itinRow h1 {
    font-size: 36px;
}

.addButton {
    background-color: #00C2FF;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 14px;
    text-wrap: nowrap;
}

.placeCard {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    max-height: 200px;
    overflow: hidden;
    margin: 15px 0;
}

.cardRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-clamp: 3;
    text-overflow: ellipsis;
}

.cardRow h3 {
    font-weight: 500;
}

.desc {
    font-size: 14px;
    text-overflow: ellipsis;
}

.submit-button {
    margin-top: 10px;
    color: gray;
}

.emptyWrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
}