@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
  width: 100vw;
  height: 100vh;
  
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
nav {
	border: yellow;
  background-color: transparent;
}

ul {
  display: flexbox;
  justify-content: flex-end;
	list-style-type: none;
	margin-right: 20px;
	padding-left:20px;
	display: flex; /* Display items horizontally */
  font-size: 27px;
}

li {
	padding: 10px;
}

a {
  position: relative;
  text-decoration: none;
  background-color: black;
}

a::after {
  content: '';
  position: absolute;
  bottom: -6px; /* Increase the distance from the text */
  left: 0;
  width: 100%;
  height: 4px; /* Increase the height of the underline */
  background-color: #009dcd;
  transition: height 0.3s ease, background-color 0.3s ease; /* Add transition for height and background-color */
}

a:hover::after {
  background-color: #ffe600;
  height: 6px; /* Increase the height on hover */
}