@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */
 
body {
  width: 100vw;
  height: 100vh;
  
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
nav {
  position: sticky;
  top: 0;
  border-bottom: rgb(108, 108, 108) 2px solid;
  background-color: #FFF59B;
  z-index: 1000;
}

ul {
  display: flexbox;
  justify-content: flex-end;
	list-style-type: none;
	margin-right: 20px;
	padding-left:20px;
	display: flex; /* Display items horizontally */
  font-size: 27px;
}

li {
	padding: 10px;
}

a {
  position: relative;
  text-decoration: none;
  background-color: black;
}
li:hover{
  background-color: #00c2ff;
  transition: 0.5s ease smooth all; 
}