body {
    background-color: #00c2ff;
    
}

.tours-list {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    flex-wrap: wrap;
    /* Allow items to wrap to next line */
    margin-top: 40px;
    ;
}

.tour-container {
	background-color: rgba(255, 255, 255, 0.65);
	border: 2px solid #ccc; /* Border color */
	border-radius: 10px; /* Rounded edges */
	overflow: hidden; /* Clip content that overflows the rounded npm corners */
<<<<<<< Updated upstream
    width: 40vw;
    margin: 20px;
=======
	padding: 10px; /* Add padding to the container */
    width: 40vw;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.65);
>>>>>>> Stashed changes
    padding: 20px;
}

.tour-container {
  display: flex;
  justify-content: space-between
}
.tour-image {
    width: 100px;
}
<<<<<<< Updated upstream
=======

/* 
.tour-image {
    width: 100px;
    display: flex;
    justify-content: right;
} */
>>>>>>> Stashed changes
